/.idea/
/tex/_minted-compiler-help/default-pyg-prefix.pygstyle
/tex/compiler-help.aux
/tex/compiler-help.fls
/tex/compiler-help.log
/tex/compiler-help.nav
/tex/compiler-help.out
/tex/compiler-help.pdf
/tex/compiler-help.snm
/tex/compiler-help.toc
/tex/compiler-help.vrb
/tex/auto/
/tex/_minted-compiler-help/

/project/build.properties
